<div class="heading">
    <h1>Ticket Management System</h1>
</div>
<div cdkDropListGroup style="display: flex;">
    <div class="col col1">
        <ng-container *ngFor="let row of Seats;let i = index">
            <div class="rowTitle">
                <h4>{{row.name}}</h4><br>
            </div>
            <div class="example-container seats">
                <div *ngFor="let f of row.seat" class="seats">
                    <p>{{f?.item}}</p>
                    <div class="example-list" ngClass="example-list" *ngIf="f.children"
                        [cdkDropListEnterPredicate]="f.children.length ? False:True" cdkDropList
                        [cdkDropListData]="f.children" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of f.children; let i = index" cdkDrag> {{item?.item}}
                            <ng-container>
                                <span (click)="removeLastDroppedItem(f,item)">X</span>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="col col2">
          <mat-form-field appearance="outline">
            <mat-select placeholder="All" (selectionChange)="categorySelection($event.value)" >
                <mat-option [value]="BackupTicketsArray">All</mat-option>
              <mat-option *ngFor="let food of Test_tickets"  [value]="food.tickets" >
                {{food.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-checkbox (change)="selectAll($event)" class="example-margin margin">Select All</mat-checkbox>



        <div class=" flex">
            <div class="example-container">
                <div class="example-list flex" cdkDropList [cdkDropListData]="TicketsArray"
                    (cdkDropListDropped)="drop($event);multiSelect.dropListDropped($event)">
                    <div class="example-box ticket" [ngClass]="AllSelected ? 'selected':''" *ngFor="let item of TicketsArray" (pointerdown)="multiSelect.mouseDown($event)"
                        (pointerup)="multiSelect.mouseUp($event)"
                        (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
                        (cdkDragEnded)="multiSelect.dragEnded()" cdkDrag>{{item?.item}}</div>
                </div>

            </div>

        </div>
        <!-- </div> -->

    </div>

</div>