<div class="d-flex p-3 mt-5 mb-4">
    <div class="col md-col10 font-medium">
        <h4><i role="button" (click)="back()" class="bi bi-arrow-left-circle-fill ml-2 mr-2"></i> Seat Allocation</h4>
    </div>
    <div class="">
        <button (click)="manageBlock(Seats)" type="button" class="btn btn-outline-dark p-2">Manage Block</button>
    </div>
</div>
<!-- <div cdkDropListGroup style="display: flex;position: relative;">
    <div class="coll col1 ">
        <ng-container *ngFor="let row of Seats;let i = index">
            <div>
                <fieldset class="example-container d-flex gap-3">
                    <div *ngFor="let block of row.block" class="block">
                        <div class="flex justify-content-center gap-2">
                            <div class="flex align-items-center gap-1">
                                <p class="block-name">{{block?.name}}</p>
                                <span class="cursor-pointer" (click)="editBlock(block)" style="cursor: pointer;"><i
                                        class="bi bi-pencil-square"></i></span>
                            </div>
                            <p class="block-name booked-title"
                                *ngIf="block.block_seats.length===block.block_seat_limit">{{"Booked"}}
                            </p>
                        </div>
                        <div class="example-list block-height flex flex-wrap p-2" ngClass="example-list"
                            *ngIf="block.block_seats"
                            [cdkDropListEnterPredicate]="block.block_seats.length===block.block_seat_limit ? False:True"
                            [ngClass]="block.block_seats.length===block.block_seat_limit ? 'booked':''" cdkDropList
                            [cdkDropListData]="block.block_seats" (cdkDropListDropped)="drop($event)">
                            <div class="hasTicket" *ngFor="let item of block.block_seats; let i = index" cdkDrag
                                mat-raised-button [tooltip]="$any(HtmlContent)" contentType="template"
                                pointerEvents="auto" placement="bottom" [showDelay]=500 theme="light">
                                <ng-template #HtmlContent>
                                    <div class="card " style="text-align: left;">
                                        <div class="card-header p-2 font-weight-bold">
                                            Ticket Detail
                                        </div>
                                        <div class="card-body p-2">
                                            <p><strong>Name: </strong>{{item.name}}</p>
                                            <p><strong>Age: </strong>{{item.age}}</p>
                                            <p><strong>Seat: </strong>{{block?.item}}</p>
                                            <p><strong>Ticket: </strong>{{item?.item}}</p>
                                        </div>
                                        <div class="card-footer text-muted p-2">
                                            <p>Double Click To Remove</p>
                                        </div>
                                    </div>
                                </ng-template>
                                <div (dblclick)="removeLastDroppedItem(block,item)" class="delete"
                                    style="display: flex;flex-direction:column;justify-content: center;align-items: center;gap:5px ;">
                                    <span class="ticket-in-seat">{{item.item}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </ng-container>
    </div>
    <div class="coll col2">
        <mat-form-field appearance="outline">
            <mat-select [placeholder]="SelectPlaceHolder" (selectionChange)="categorySelection($event.value)">
                <mat-option *ngFor="let ticket of Test_tickets;let i=index" [value]="i">
                    {{ticket.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox (change)="selectAll($event)" class="example-margin margin select-all">Select All</mat-checkbox>
        <div class=" flex">
            <div class="example-container w-100 m-0">
                <div class="example-list flex ticket-flex w-100" cdkDropList
                    [cdkDropListData]="Test_tickets[Categoryindex].tickets"
                    (cdkDropListDropped)="drop($event);multiSelect.dropListDropped($event)">
                    <div class="example-box ticket" [ngClass]="AllSelected ? 'selected':''"
                        *ngFor="let item of Test_tickets[Categoryindex].tickets"
                        (pointerdown)="multiSelect.mouseDown($event)" (pointerup)="multiSelect.mouseUp($event)"
                        (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
                        (cdkDragEnded)="multiSelect.dragEnded()" cdkDrag>
                        <div>
                            <p>{{item?.name}}</p>
                            <p>{{item?.item}}</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<ng-template #HtmlContent></ng-template>


<div cdkDropListGroup style="display: flex;position: relative;">
    <div style="width: 100%; height: auto ">

        <as-split direction="horizontal">
            <as-split-area>
                <as-split direction="horizontal">
                    <as-split-area [size]="85" class="p-3" style="background:#fbfbfb">
                        <div style="width: 85vw">
                            <ng-container *ngFor="let row of Seats;let i = index">
                                <div>
                                    <fieldset class="example-container d-flex gap-3">
                                        <div *ngFor="let block of row.block" class="block">
                                            <div class="flex justify-content-center gap-2">
                                                <div class="flex align-items-center gap-1">
                                                    <p class="block-name">{{block?.name}}</p>
                                                    <span class="cursor-pointer" (click)="editBlock(block)"
                                                        style="cursor: pointer;"><i
                                                            class="bi bi-pencil-square"></i></span>
                                                </div>
                                                <p class="block-name booked-title"
                                                    *ngIf="block.block_seats.length===block.block_seat_limit">
                                                    {{"Booked"}}
                                                </p>
                                            </div>
                                            <div class="example-list block-height flex flex-wrap p-2"
                                                ngClass="example-list" *ngIf="block.block_seats"
                                                [cdkDropListEnterPredicate]="block.block_seats.length===block.block_seat_limit ? False:True"
                                                [ngClass]="block.block_seats.length===block.block_seat_limit ? 'booked':''"
                                                cdkDropList [cdkDropListData]="block.block_seats"
                                                (cdkDropListDropped)="drop($event)">
                                                <div class="hasTicket"
                                                    *ngFor="let item of block.block_seats; let i = index" cdkDrag
                                                    mat-raised-button [tooltip]="$any(HtmlContent)"
                                                    contentType="template" pointerEvents="auto" placement="bottom"
                                                    [showDelay]=500 theme="light">
                                                    <ng-template #HtmlContent>
                                                        <div class="card " style="text-align: left;">
                                                            <div class="card-header p-2 font-weight-bold">
                                                                Ticket Detail
                                                            </div>
                                                            <div class="card-body p-2">
                                                                <p><strong>Name: </strong>{{item.name}}</p>
                                                                <p><strong>Age: </strong>{{item.age}}</p>
                                                                <p><strong>Seat: </strong>{{block?.item}}</p>
                                                                <p><strong>Ticket: </strong>{{item?.item}}</p>
                                                            </div>
                                                            <div class="card-footer text-muted p-2">
                                                                <p>Double Click To Remove</p>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                    <div (dblclick)="removeLastDroppedItem(block,item)" class="delete"
                                                        style="display: flex;flex-direction:column;justify-content: center;align-items: center;gap:5px ;">
                                                        <span class="ticket-in-seat">{{item.item}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </ng-container>
                        </div>
                    </as-split-area>
                    <as-split-area [size]="15" class="p-3" style="background:#fbfbfb;">
                        <div style="background:#fbfbfb;">
                            <mat-form-field appearance="outline">
                                <mat-select [placeholder]="SelectPlaceHolder"
                                    (selectionChange)="categorySelection($event.value)">
                                    <mat-option *ngFor="let ticket of Test_tickets;let i=index" [value]="i">
                                        {{ticket.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-checkbox (change)="selectAll($event)" class="example-margin margin select-all">Select
                                All</mat-checkbox>
                            <div class=" flex">
                                <div class="example-container w-100 m-0">
                                    <div class="example-list flex ticket-flex w-100" cdkDropList
                                        [cdkDropListData]="Test_tickets[Categoryindex].tickets"
                                        (cdkDropListDropped)="drop($event);multiSelect.dropListDropped($event)">
                                        <div class="example-box ticket" [ngClass]="AllSelected ? 'selected':''"
                                            *ngFor="let item of Test_tickets[Categoryindex].tickets"
                                            (pointerdown)="multiSelect.mouseDown($event)"
                                            (pointerup)="multiSelect.mouseUp($event)"
                                            (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
                                            (cdkDragEnded)="multiSelect.dragEnded()" cdkDrag>
                                            <div>
                                                <p>{{item?.name}}</p>
                                                <p>{{item?.item}}</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </as-split-area>
                </as-split>
            </as-split-area>
        </as-split>
    </div>
</div>